
    <body>
      
            <div class="container">
                <div class="row">
               　  <div class="col-md-5">
                    <div class="content">
                    <img src="<%= asset_path "icon.png" %>">
                    <div class="user"><h4>おすすめのユーザー</h4>
                        <ul>
                            <li>いえねこ<a class="mark">フォローする</a></li>
                            <li>のらねこ<a class="mark">フォローする</a></li>
                            <li>すてねこ<a class="mark">フォローする</a></li>
                        </ul>
                    </div>
                    </div>
                  </div>
                  <div class="col-md-7">
                        <p><%= notice %></p>
                        <h1>呟き一覧</h1>
                          <%= link_to "呟く", new_tweet_path, class: 'btn btn-default' %>
                         <% @tweets.each do |tweet| %>
                          <p><%= tweet.content %></p>
                          <%= link_to "編集", edit_tweet_path(tweet.id), class: 'btn btn-default btn-sm btn-primary' %>
                          <%= link_to "削除", tweet_path(tweet.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-warning' %>
                         <% end %>
                  </div>
                </div>
            </div>
                 </body>
